.sidebar {
  display: flex;
  // sidebarに35%幅使う
  flex: 0.35;
  height: 100vh;
  // background-color: #363940; // 後でホームに移動

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1c30;
    padding: 7px 15px;
  }

  .sidebarRight {
    background-color: #303136;
    width: 300px;
    position: relative;
    flex-grow: 1;

    .sidebarTop {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    // チャンネル名の部分
    .sidebarChannels {
      padding: 13px;

      .sidebarChannelsHeader {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        .sidebarHeader {
          display: flex;
        }

        .sidebarAddIcon {
          cursor: pointer;
        }
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding-bottom: 10px;
      border-top: 1px solid #686a6e;
      padding-top: 10px;
      margin-left: 8px;

      .sidebarAccount {
        display: flex;
        align-items: center;
      }

      img {
        width: 60px;
        border-radius: 50%;
      }

      .accountName {
        margin-left: 5px;

        h4 {
          color: white;
          font-weight: 500;
        }

        span {
          color: #686a6e;
        }
      }

      .sidebarVoice {
        display: flex;
        align-items: center;
        color: #686a6e;
      }
    }
  }

  .serverIcon {
    width: 60px;
    height: 60px;
    background-color: #363940;
    border-radius: 9999px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 7px;

    img {
      // 中央に持ってくる方記述
      position: absolute;
      width: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
